---
import Layout from '../../layouts/Layout.astro'
import { MetasProps } from '../../types/metasProps'
import { getAllCategoriesWithSlugs } from '../../lib/getAllCategoriesWithSlugs'
import { getCategoryBySlug } from '../../lib/getCategoryBySlug'
import Posts from '../../components/Posts.astro'
import PostCard from '../../components/PostCard.astro'
import DeviceCard from '../../components/DeviceCard.astro'

export async function getStaticPaths() {
  const pagesWithSlugs = await getAllCategoriesWithSlugs()
  return pagesWithSlugs.nodes.map(({ slug }) => {
    return {
      params: { slug },
    }
  })
}

const { slug } = Astro.params
const device = await getCategoryBySlug(slug)
const posts = device.posts.nodes

const metas: MetasProps = {
  title: device?.name,
  path: `/device/${slug}`,
}
---

<Layout metas={metas}>
  <div class="container">
    <DeviceCard
      slug={device.slug}
      wp_id={device.categoryId}
      name={device.name}
    />
    {
      posts.length > 0 ? (
        <Posts>
          {posts.map((post) => (
            <PostCard {...post} />
          ))}
        </Posts>
      ) : (
        <div class="noResult">No result.</div>
      )
    }
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    grid-gap: 15px;
    gap: 15px;
  }

  .noResult {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
  }
</style>
