---
import { WP_postStandAlone } from '../types/post.type'
import FeaturedmediaImg from './FeaturedmediaImg.astro'
import HTMLDecoderEncoder from 'html-encoder-decoder'

const { categories, excerpt, isSticky, featuredImage, slug, title } =
  Astro.props as WP_postStandAlone
---

<a
  class="post"
  data-sticky={`${isSticky}`}
  href={`/article/${slug}`}
  rel="prefetch"
>
  <div class="img">
    <FeaturedmediaImg featuredImage={featuredImage} title={title} />
  </div>
  <div class="stickyPostDesc">
    <div class="postCategories">
      {
        categories &&
          categories?.nodes
            .filter((o) => o.name !== 'Uncategorized')
            .map((categorie) => (
              <div class="postCategorie">
                {HTMLDecoderEncoder.decode(categorie.name)}
              </div>
            ))
      }
    </div>
    <h2 class="postTitle" data-sticky={isSticky} set:html={title} />
    {!isSticky && <div class="excerpt" set:html={excerpt} />}
  </div>
</a>

<style>
  .post {
    position: relative;
    background: #000;
    cursor: pointer;
    transition: 200ms ease-in-out;
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 240px;
  }

  .post[data-sticky='true'] {
    grid-column: 1/5;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'img txt';
  }

  .post[data-sticky='true']:nth-child(even) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'txt img';
  }

  .post[data-sticky='true'] img {
    max-width: inherit;
  }

  .post:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px
      hsl(var(--color-red-hue), var(--color-red-sat), var(--color-red-light));
    z-index: 10;
  }

  .postCategories {
    font-size: 0.8em;
    color: hsl(
      var(--color-yellow-hue),
      var(--color-yellow-sat),
      var(--color-yellow-light)
    );
    text-transform: uppercase;
  }

  .excerpt {
    font-style: italic;
  }

  .postCategorie:after {
    content: ',';
  }

  .postCategorie:last-child:after {
    content: '';
  }

  .stickyPostDesc {
    grid-area: txt;
    padding: 10px;
  }

  .postTitle {
    color: #fff;
    word-break: initial;
  }

  .postTitle[data-sticky='true'] {
    font-size: 3.5em;
  }

  .img {
    grid-area: img;
  }

  .excerpt {
    word-break: break-all;
  }
</style>
